<div class="jumbotron">
  <h1>Eat Da Burgers!</h1>
</div>
<div class="container">
  <div class="row">

    <div class="leftBout col-sm-4 col col-md-4 col-lg-4">
      <h2>Burgers ready for devour!</h2>
      <ul class="leftB">
        {{#each burgers}}
        {{#unless devoured}}
        {{> burgers/burger-block devoured=true}}
        {{/unless}}
        {{/each}}
      </ul>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4 choiceBout ">
      <h2>Make a Burger!</h2>
      <form class="create-form">
        <div class="form-group">
          <label for="ca">Burger Name:</label>
          <input type="text" id="ca" name="name">
          <button type="submit" class=" choice-ja inline">Add it!</button>
        </div>
      </form>
      <form class="ping-form">

        <div class="form-group">
          <label for="ca-ing">Ingredient:</label>
          <input type="text" id="ca-ing" name="name">
          <label for="ca-ing-price"> $:</label>
          <input type="text" id="ca-ing-price" name="price">
          <label for="vegetarian"></label><br>
          <input type="radio" name="vegetarian" value="1"> Vegan
          <input type="radio" name="vegetarian" value="0"> Non-vegan
          <input type="radio" name="vegetarian" value="2"> Non-Human
          <button type="submit" class="inline">Add ingredient</button>
        </div>
      </form>
      <ul class="choiceB">
        {{#each ingredients}}
        {{> burgers/ingredient-block}}
        {{/each}}
      </ul>
    </div>

    <div class="rightBout col-sm-4 col-md-4 col-lg-4">
      <h2>Devoured Burgers!</h2>
      <ul class="rightB">
        {{#each burgers}}
        {{#if devoured}}
        {{> burgers/burger-block devoured=false}}
        {{/if}}
        {{/each}}
      </ul>
    </div>

  </div>
  
</div>